/* ---------------------------------------------------
  SIDEBAR
----------------------------------------------------- */
.root-container .sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 200px;
  background-color: #aaf9aa;
  padding-top: 250px;
}
.sidebar .sidebar-button, .sidebar .sidebar-sub-button {
  padding: 5px 0 5px 25px;
  cursor: pointer;
  background-color: beige;
  margin-bottom: 5px;
}
.sidebar .sidebar-sub-button {
  padding-left: 35px;
  font-size: 85%;
}
.sidebar .sidebar-button:hover, .sidebar .sidebar-sub-button:hover {
  background-color: #f3f3cb;
}
.sidebar .sidebar-button.active, .sidebar .sidebar-sub-button.active {
  background-color: #fbfbc5;
}
.home-container {
  margin-left: 200px;
}

/* ---------------------------------------------------
  LOGIN & REGISTER
----------------------------------------------------- */
  .login, .register, .forgot {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .logout {
    position: fixed;
    top: 15px;
    right: 15px;
  }
  .forgot .submit {
    margin: 10px 0;
  }


/* ---------------------------------------------------
  QUESTIONNAIRE
----------------------------------------------------- */
.questionnaire-container, .daily-balance-container {
  width: 1150px;
  margin: auto;
  padding-top: 100px;
}
.questionnaire-container .home-button {
  padding-top: 10px;
  text-align: center;
}
.questionnaire .table-container {
  height: 220px;
}
.questionnaire .question-row.highlight {
  background-color: #f2f2f2;
  border-radius: 5px;
}
.questionnaire .question {
  width: 540px;
  padding: 5px 25px 5px;
}
.questionnaire .option {
  width: 100px;
  text-align: center;
}
.questionnaire .prev-next {
  text-align: right;
  padding: 10px 0;
}
.questionnaire .submit-button {
  margin-top: 15px;
  text-align: center;
}
.questionnaire .page-number {
  display: inline-block;
  padding: 0 10px;
  margin: 0 2.5px;
  cursor: pointer;
}
.questionnaire .page-number.active {
  color: #3333ff;
  background-color: #f2f2f2;
  border-radius: 5px;
}

/* ---------------------------------------------------
  DAILY BALANCE CHART
----------------------------------------------------- */
.daily-balance-container .chart-table {
  width: 750px;
  float: left;
  padding: 0 25px;
}
.daily-balance-container .chart-guide {
  width: 350px;
  float: left;
  padding: 50px 25px 0;
}
.chart-guide .card {
  padding: 10px;
  margin-bottom: 10px;
}
.chart-table .temp-right-padding {
  padding-right: 60px;
}
.daily-balance-container .submit-button {
  text-align: center;
}
.daily-balance-container .center-align {
  text-align: center;
}
.daily-balance-container .trend-box {
  width: 35px;
  height: 10px;
}
.daily-balance-container .trend-box.red {
  background-color: red;
}
.daily-balance-container .trend-box.yellow {
  background-color: yellow;
}
.daily-balance-container .trend-box.green {
  background-color: green;
}

/* ---------------------------------------------------
  STAR BASED RATING
----------------------------------------------------- */
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size: 25px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

