/* ---------------------------------------------------
  SIDEBAR
----------------------------------------------------- */
.root-container .sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 200px;
  background-color: #aaf9aa;
  padding-top: 250px;
}
.sidebar .sidebar-button, .sidebar .sidebar-sub-button {
  padding: 5px 0 5px 25px;
  cursor: pointer;
  background-color: beige;
  margin-bottom: 5px;
}
.sidebar .sidebar-sub-button {
  padding-left: 35px;
  font-size: 85%;
}
.sidebar .sidebar-button:hover, .sidebar .sidebar-sub-button:hover {
  background-color: #f3f3cb;
}
.sidebar .sidebar-button.active, .sidebar .sidebar-sub-button.active {
  background-color: #fbfbc5;
}

/* ---------------------------------------------------
  LOGIN & REGISTER
----------------------------------------------------- */
  .login, .register {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


/* ---------------------------------------------------
  QUESTIONNAIRE
----------------------------------------------------- */
.questionnaire-container {
  width: 1150px;
  margin: auto;
  padding-top: 100px;
}
.questionnaire-container .home-button {
  padding-top: 10px;
  text-align: center;
}
.questionnaire .table-container {
  height: 220px;
}
.questionnaire .question {
  width: 540px;
  padding: 5px 25px 5px;
}
.questionnaire .option {
  width: 100px;
  text-align: center;
}
.questionnaire .prev-next {
  text-align: right;
  padding: 10px 0;
}
.questionnaire .submit-button {
  margin-top: 15px;
  text-align: center;
}

